.titulo{
   text-align: center;
};

.form-control mb-2{
    height: 50vh;
}

.frm{
    text-align: center;
}

#in{
    display: block;
    margin-left: 40%;
    height: 4vh;
    border: 0.3vw solid black;
}

.btn{
    width: 15vw;
    height: 4.5vw;
    font-family: cursive;
    margin-top: 2%;
    margin-left: 37%;
    background-color: transparent;
}